{
 :host     "localhost"
 :port     [5555 :int]
 :database {:host     "localhost"
            :port     [5432 :int]
            :user     "digi0ps"
            :db       "slink_dev"
            :password "pass1234"}
 :hash {
        :length [6 :int]
        }
 }